
body{
  background: #440607 url(../images/bg.jpg) repeat-x center 0; 
  font-family: Arial, Helvetica, sans-serif; 
	color:white;
}

section#page_container
{
	width:967px;
	margin: 100px;
	text-align:center;
}
