
body{
  background: #440607 url(../images/bg.jpg) repeat-x center -70px; 
  font-family: 'Podkova', sans-serif;
	padding: 100px;
  text-align: center;	
}

article#home
{
	font-size: 20px;
	line-height: 30px;
	color: #440607;
  margin: 0 auto;
	margin-top: 40px;
  width: 400px;
  padding: 50px;
  text-align: center;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 5px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 15px;
        border-color:#440607;
        border-style:double;
        border-width:25px 30px 10px 20px;
        -moz-border-image:url("../images/border.png") 25 30 10 20 repeat;
        -webkit-border-image:url("../images/border.png") 25 30 10 20 repeat;
        border-image:url("../images/border.png") 25 30 10 20 repeat;
}
