
body{
  background: #440607 url(../images/bg.jpg) repeat-x center 0; 
  font-family: Arial, Helvetica, sans-serif; 
	padding: 100px;
}

section#page_container
{
  border: 5px solid #ccc;
	color: #ccc;
  margin: 0 auto;
  width: 400px;
  padding: 100px;
  text-align: center;
  /* border-radius */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
