<section id="page_container">
<img src="images/harry.png" alt="harry chou" />
<article id="home">My name is Harry Chou. I am a software developer living in Baltimore, Maryland area. This 
website, which is always under constructions, showcases projects I have worked on.</article>
</section>
