<section id="page_container">
<h1>HarryChou</h1>
<p>My name is Harry Chou. I am a software developer living in Baltimore, Maryland area. This 
website showcases projects I have worked on.</p>
</section>
